* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    text-decoration-style: none;
    color: #000;
}

.max-row {
    max-width: 1903px;
    width: 100%;
}

/* Mise en Page CSS / Textes*/

ul {
    list-style: none;
}

.divider {
    border-bottom: 5px solid #D5A975;
}

.white-text {
    color: white;
}

.inner-shadow {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER BLOCK - RWB unfriendly a refaire*/

#bg-header {
    position: fixed;
    display: flex;
    width: 1903px;
    height: 115px;
    border-bottom: 5px solid #D5A975;
    background: url(../Ressources/HeaderBGOpacity.png);
    background-color: #666;
}

/*Menu Non-RWB pour l'instant*/

#menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    row-gap: 100px;
}

#white-line {
    align-self: center;
    width: 100%;
    height: 65px;
    background-color: #FFF;
    opacity: 75%;
}

ul li {
    display: inline-block;
    transform: translateY(-28px);
    align-self: center;
    text-align: center;
    font-size: xx-large;
    height: 60px;
    width: 150px;
    background-color: aquamarine;
}

#logo-header {
    background-color: #000;
    transform: translateY(-25px);
}

/*Main-Page*/

#main-page {
    height: 1000px;
    width: 1903px;
    background-color: #666;
    padding-top: 100px;
}

#home-page {
    display: flex;
    height: 1000px;
    background: url(../Ressources/GettingTattooBGOpacity.png) center center / cover no-repeat;
}

#LogoMain {
    margin: 150px 650px;
    border: 4px solid rgba(0, 0, 0, 0.592);
    height: 415px;
    width: 550px;
    border-radius: 10px;
}