* {
    margin: 0 auto;
    padding: 0;
}

.max-row {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #111;
    font-family: 'Lancelot', cursive;
}

.flexboxing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/* & Mise en Page CSS / Textes*/

    /*~ Texte General*/

.divider {
    border-bottom: 5px solid #D5A975;
}

.white-text {
    color: #eee;
    font-family: 'Lancelot', cursive;
}

.inner-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.622);
}

    /*~ HEADER*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-style: none;
    color: #000;
    font-family: 'Metal Mania', cursive;
}

a:hover {
    color: #DDD;
    transition: all .5s ease;
}

    /*~ Main Page*/

h1 {
    font-size: xx-large;
}

h2 {
    padding: 25px 0;
}

#home-page p {
    font-size: x-large;
}

#statistics p {
    padding: 25px 0;
    font-size: larger;
    font-weight: lighter;
}

    /*~ FOOTER*/

footer a {
    color: #eee;
    font-family: 'Lancelot', cursive;
}

footer a:hover {
    color: #666;
}

footer h3 {
    font-size: xx-large;
    padding: 5px 0 10px 0;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

footer p {
    padding: 0 0 10px 0;
    font-size: smaller;
}

/* & HEADER */

#bg-header {
    position: fixed;
    display: flex;
    align-self: center;
    height: 115px;
    border-bottom: 5px solid #D5A975;
    background: url(../Ressources/HeaderBGOpacity.png);
    background-color: #666;
}

    /*~ MENU */

#white-line {
    align-self: center;
    width: 100%;
    height: 65px;
    background-color: #FFF;
    opacity: 75%;
}

ul li {
    display: inline-block;
    transform: translateY(-28px);
    align-self: center;
    text-align: center;
    font-size: xx-large;
    height: 50px;
    padding: 10px 30px 0 0;
}

#logo-header {
    background-color: #000;
    transform: translateY(-25px);
}

        /** HEADER RWD */

@media screen and (max-width: 1000px) {
    ul li {
        padding: 10px 35px 0 0;
    }
}

/*& MAIN PAGE */

#main-page {
    background-color: #000;
    padding-top: 100px;
    text-align: center;
}

#home-page {
    display: flex;
    align-items: center;
    align-content: center;
    height: 1000px;
    background: url(../Ressources/GettingTattooBGOpacity.png) center center / cover no-repeat;
    background-color: #666;
}

#LogoMain {
    border: 4px solid rgba(0, 0, 0, 0.592);
    height: 415px;
    width: 550px;
    border-radius: 10px;
}

/*& PROMOTION */

#promo img {
    padding: 15px 0;
}

/*& STAFF */

.artists {
    padding: 10px 10px 0 10px;
    width: 315px;
}

.hidden-description {
    background-color: #d5aa75;
}

        /** FOOTER RWD */

@media screen and (max-width: 1000px) {
    .artists {
        width: 300px;
    }
}

/*& PORTFOLIO */

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.showcase {
    width: 466px;
    height: 350px;
}

.about {
    width: 466px;
    height: 350px;
    background: url(../Ressources/SectionBackground.png) bottom / contain no-repeat;
}

/*& REASSURANCE */

#statistics img {
    margin: 25px 0 0 0;
    width: 122px;
    height: 122px;
}

/*& HORAIRES */

#horaires {
    height: 450px;
    width: 600px;
    margin: 50px;
    text-align: center;
    background-color: rgba(33, 33, 33, 0.567);
}

#agenda {
    padding-top: 5px;
}

#agenda th {
    padding: 0px 45px;
}

#SunOut {
    width: 73px;
    height: 73px;
    transform: translateY(-30px);
}

#horaires p:first-of-type {
    font-size: xx-large;
    padding-bottom: 15px;
}

#horaires p:nth-child(3) {
    padding-bottom: 25px;
}

/*& FORM */
#form {
    height: 450px;
    width: 600px;
    background-color: rgba(33, 33, 33, 0.567);
}

form {
    margin: 50px;
}

input {
    width: 300px;
    background-color: rgba(239, 239, 239, 0.206);
    border-radius: 5px;
    border-color: #333;
    margin: 5px;
    color: #BBB;
    font-family: 'Lancelot', cursive;
}

input[type=text] {
    padding: 0px 20px;
    box-sizing: border-box;
    color: #BBB;
    font-family: 'Lancelot', cursive;
}

#lname,
#fname {
    width: 200px;
    font-family: 'Lancelot', cursive;
}

textarea {
    width: 500px;
    height: 250px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.206);
    border-radius: 5px;
    border-color: #333;
    color: #BBB;
    resize: none;
    font-family: 'Lancelot', cursive;
}

/** FOOTER RWD */

@media screen and (max-width: 1200px) {
    #form {
        margin-bottom: 30px;
    }
}

/*& FOOTER*/

#icon {
    width: 15px;
    height: 15px;
}

footer {
    height: 500px;
    text-align: center;
    background-image: url(../Ressources/Icons-Designs/HeartSword.png);
    background-color: #000;
    background-size: auto 20%;
    background-repeat: no-repeat;
    background-position: top;
}

#Company,
#socials {
    padding: 15px;
    height: 280px;
    width: 300px;
    background-color: rgba(33, 33, 33, 0.567);
    border-radius: 5px;
}

footer img:nth-child(1) {
    width: 550px;
    height: 300px;
    border-radius: 30px;
    padding: 15px;
}

#copyright {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    transform: translateY(-25px);
}
        /** FOOTER RWD */

@media screen and (max-width: 1200px) {
    footer {
        height: auto;
    }

    #Company,
#socials {
    margin-top: 15px;
}

#copyright {
    transform: translateY(-15px);
}
}