* {
    margin: 0 auto;
    padding: 0;
}

.max-row {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #111;
    font-family: 'Lancelot', cursive;
}

.flexboxing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/* & Mise en Page CSS / Textes*/

    /*~ Texte General*/

.divider {
    border-bottom: 5px solid #D5A975;
}

.white-text {
    color: #eee;
    font-family: 'Lancelot', cursive;
}

.inner-shadow {
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.622);
}

    /*~ HEADER*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-style: none;
    color: #000;
    font-family: 'Metal Mania', cursive;
}

a:hover {
    color: #DDD;
    transition: all .5s ease;
}

    /*~ Main Page*/

h1 {
    font-size: xx-large;
}

h2 {
    padding: 25px 0;
}

#home-page p {
    font-size: x-large;
}

#statistics p {
    padding: 25px 0;
    font-size: larger;
    font-weight: lighter;
}

.hidden-text {
    color: #eee;
    font-family: 'Lancelot', cursive;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.622);
    font-weight: bold;
}

    /*~ FOOTER*/

footer a {
    color: #eee;
    font-family: 'Lancelot', cursive;
}

footer a:hover {
    color: #666;
}

footer h3 {
    font-size: xx-large;
    padding: 5px 0 10px 0;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

footer p {
    padding: 0 0 10px 0;
    font-size: smaller;
}

/* & HEADER STYLE */

header {
    position: sticky;
    top: 0;
    z-index: 9999;
    align-self: center;
    height: 115px;
}

#bg-header {
    height: 100%;
    border-bottom: 5px solid #D5A975;
    background: url(../Ressources/HeaderBGOpacity.png);
    background-color: #666;
}

#white-line {
    width: 100%;
    height: 65%;
    background-color: #FFF;
    opacity: 75%;
}

#logo-header {
    background-color: #000;
    opacity: 95%;
    transform: translateY(2px);
}

    /*~ MENU */

#menu-container {
    width: 100%;
}

#menu-container figure {
    width: 25%;
    margin: 5px;
}

ul li {
    display: inline-block;
    margin: 0 25px;
    font-size: xx-large;
    text-align: center;
}

.hidden {
    display: none;
}

        /** HEADER RWD */

@media screen and (max-width: 900px){
    ul li {
        margin: 0 10px;}

    #menu-container img {
        transform: translate(-35px, 2px);
    }
}

@media screen and (max-width: 700px){
    ul li {
        margin: 5px 30px;}

    #menu-container img {
        display: none;
    }
    .hidden {
        display: inline-block;
    }

    #menu-right {
        display: none;
    }
}

@media screen and (max-width: 600px){
    ul li {
        margin: 5px 20px;}
}

@media screen and (max-width: 500px){
    ul li {
        margin: 5px 10px;}
}

@media screen and (max-width: 450px){
    ul li {
        font-size:x-large;
        margin: 5px 15px;}
}

/*& MAIN PAGE */

#main-page {
    background-color: #000;
    text-align: center;
}

#home-page {
    display: flex;
    align-items: center;
    align-content: center;
    height: 1000px;
    background: url(../Ressources/GettingTattooBGOpacity.png) center center / cover no-repeat;
    background-color: #666;
}

#LogoMain {
    border: 4px solid rgba(0, 0, 0, 0.592);
    height: 415px;
    width: 550px;
    border-radius: 10px;
}

        /** MAIN PAGE RWD */

@media screen and (max-width: 650px) {
    
    #LogoMain {
        margin: 10%;
        width: 100%;
    }
    #home-page img {
        width: 100%
    }
}

/*& PROMOTION */

#promo img {
    padding: 15px 0;
}

/** PROMO RWD */

@media screen and (max-width: 600px) {
    #promo img {
        width: 95px;
    }
}

@media screen and (max-width: 400px) {
    #promo img {
        width: 75px;
    }
}

/*& STAFF */
#Staff {
    background-image: url(../Ressources/Icons-Designs/HeartSword.png);
    background-color: #000;
    background-size: auto 150px;
    background-repeat: no-repeat;
    background-position: bottom;
}
#Staff img {
    display: flex;
    border-radius: 10px;
    height: 650px;
    width: 100%;
    margin: 5px;
    cursor: pointer;
}

#Staff a > img {
    align-self: center;
    width: 20px;
    height: 20px;
    padding: 5px;
}

.social-links {
    display: inline-block;
}

.hidden-description {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
    opacity: 0;
    box-sizing: border-box;
    overflow: hidden;
    transform: translate(-5px , -101%);
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.843);
    background-image: url(../Ressources/Icons-Designs/BirdTriangle.png);
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5px;
}

#Staff .artists:hover .hidden-description {
    display: block;
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 999;
}

        /** STAFF RWD */

@media screen and (max-width: 1000px) {
    #Staff img {
        flex-shrink: 2;
    }
}

/*& PORTFOLIO */

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.showcase {
    width: 466px;
    height: 350px;
}

.about {
    width: 466px;
    height: 350px;
    background: url(../Ressources/SectionBackground.png) bottom / contain no-repeat;
}

/** PORTFOLIO RWD */
@media screen and (max-width: 1399px) {
    #portfolio figure {
        display: flex;
        width: 50%;
        align-items: stretch;
        align-content: stretch;
    }

    .showcase {
        width: 100%;
    }

    .about {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #portfolio figure {
        display: flex;
        width: 100%;
        align-items: stretch;
        align-content: stretch;
    }

    .showcase {
        width: 95%;
    }

    .about {
        width: 100%;
    }
}

/*& REASSURANCE */

#statistics img {
    margin: 25px 0 0 0;
    width: 122px;
    height: 122px;
}

/** Reassurance RWD */

@media screen and (max-width: 718px) {
    #statistics img {
    margin: 25px 0 0 0;
    width: 95px;
    height: 95px;
    }

    #statistics p {
        width: 75px;
    }
}

@media screen and (max-width: 474px) {
    #statistics img {
        margin: 20px 5px 0 0;
        width: 133px;
        height: 133px;
        }
    
        #statistics p {
            width: 100px;
        }
}

/*& HORAIRES */

#horaires {
    height: fit-content;
    width: 600px;
    margin: 50px;
    text-align: center;
    background-color: rgba(33, 33, 33, 0.567);
}

#agenda {
    padding: 15px;
    font-size: x-large;
}

#agenda th {
    padding: 15px 45px;
}

#SunOut {
    width: 73px;
    height: 73px;
    transform: translateY(-30px);
}

#horaires p:first-of-type {
    font-size: xx-large;
    padding-bottom: 15px;
}

#horaires p:nth-child(3) {
    padding-bottom: 25px;
}

        /*& FORM */

#form {
    height: fit-content;
    width: fit-content;
    margin: 50px;
    background-color: rgba(33, 33, 33, 0.567);
}

form {
    margin: 50px;
}

input {
    width: 300px;
    box-sizing: border-box;
    background-color: rgba(239, 239, 239, 0.206);
    border-radius: 5px;
    border-color: #333;
    margin: 5px;
    color: #BBB;
    font-family: 'Lancelot', cursive;
    padding: 0px 20px;
}

#lname,
#fname {
    width: 200px;
}

textarea {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.206);
    border-radius: 5px;
    border-color: #333;
    color: #BBB;
    resize: none;
    font-family: 'Lancelot', cursive;
}

#submit {
    cursor: pointer;
}

/** FORM RWD */

@media screen and (max-width: 1300px) {
    #form {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 610px) {
    #form {
        margin: 50px;
    }

    textarea {
        width:100%;}

        input {
            width: 100%;
        }
    
        #lname,
    #fname {
        width: 100%;
}}

@media screen and (max-width: 400px) {
    #form {
        margin: 50px;
    }
    textarea {
        width: 100%;
        margin: 5px;
    }

    input {
        width: 100%;
    }

    #lname,
#fname {
    width: 100%;
}
}

/*& FOOTER*/

#icon {
    width: 15px;
    height: 15px;
}

footer {
    height: 500px;
    text-align: center;
    background-image: url(../Ressources/Icons-Designs/HeartSword.png);
    background-color: #000;
    background-size: auto 20%;
    background-repeat: no-repeat;
    background-position: top;
}

#Company,
#socials {
    padding: 15px;
    height: 280px;
    width: 300px;
    background-color: rgba(33, 33, 33, 0.567);
    border-radius: 5px;
}

footer img:nth-child(1) {
    width: 550px;
    height: 300px;
    border-radius: 30px;
    padding: 15px;
}

#copyright {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    transform: translateY(-25px);
}
        /** FOOTER RWD */

@media screen and (max-width: 1240px) {
    footer {
        height: auto;
    }

    #Company,
    #socials {
        margin-top: 15px;
    }

#copyright {
    transform: translateY(-15px);
}
}
@media screen and (max-width: 660px) {
#Company,
#socials {
    width: 250px;
}
}

@media screen and (max-width: 560px) {
    footer img:nth-child(1) {
        width: 380px;
    }

    #Company,
#socials {
    width: 150px;
}

footer tr th a{
    font-size: x-small;
}
}